@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-slate-950 text-slate-100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
} */

/* THEME ROOTS */
:root {
  --bg: #ffffff;
  --border: #41f30a;
  --text: #111111;
  --card: #f4f4f4;
  --input: #d8d8d8;
  --accent: #2994FF;
}

[data-theme="dark"] {
  --bg: #0e0e0e;
  --border: #41f30a;
  --text: #f1f1f1;
  --input: #5a5a5a;
  --card: #1b1b1b;
  --accent: #F7C948;
}

[data-theme="system"] {
  /* system theme follows OS, but we treat it same as light */
  --bg: #ffffff;
  --border: #2994FF;
  --text: #111111;
  --card: #f4f4f4;
  --input: #d8d8d8;
  --accent: #2994FF;
}

[data-theme="light"] {
  /* system theme follows OS, but we treat it same as light */
  --border: #2994FF;
  --bg: #ffffff;
  --text: #111111;
  --card: #f4f4f4;
  --input: #d8d8d8;
  --accent: #2994FF;
}

/* Apply */
body {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  background: var(--bg);
  color: var(--text);
  transition: background 0.25s ease, color 0.25s ease;
}

input, select, textarea {
  background: var(--input);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 4px;
  box-shadow: #2994FF;
  transition: background 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}